* {
  box-sizing: border-box;
}

body {
   margin: 0;
  padding: 0;
  /* background: #f7f7f7; */
  background: linear-gradient(#e0efff, #ffffff); /* Standard syntax */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fix {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ghostbutton {
  width: 100px;
  height: 100px;
  background-color: white;
  color: white;
  border: none;
}

button:focus {outline:0;}

/* User Side Styling */
.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 3px;
}

@media (min-width: 769px) {
  .container {
    margin: 2.5rem auto;
    margin-top: 150px;
  }
}

/* Result Component */
.result {
  padding: 1.5rem 2.5rem;
  box-shadow: 0 4px 8px 0 rgba(92, 92, 92, 0.2), 0 6px 20px 0 rgba(92, 92, 92, 0.2);
}

/* Quiz Component */
.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* QuestionCount Component */
.questionCount {
  padding: 1.5rem 2.5rem 0;
  font-size: 14px;
}

/* Question Component */
.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
}

/* AnswerOption Component */
.answerOption {
  border-top: 1px solid #eee;
}

.answerOption:hover {
  background-color: #eefbfe;
}

.radioCustomButton {
    position: absolute;
    width: auto;
    opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.radioCustomLabel {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 1.5rem 2.5rem 1.5rem 5rem;
    font-size: 16px;
    line-height: 1.5;
}

.radioCustomButton ~ .radioCustomLabel:before {
    position: absolute;
    top: 20px;
    left: 38px;
    width: 28px;
    height: 28px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 50%;
    transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
    content: '';
    background: #8BC53F url(./svg/icon-check.svg) no-repeat;
    background-size: 27px;
    border-color: #8BC53F;
}

/* Animation */
.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-appear {
    opacity: 0;
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* Candace Side Styling */
.center {
  margin-top: -100px;
  width: 100%;
  height: 100%;
  /* flex to center contents*/
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

h2 {
  color: #b6b6b6;
}

.match {

  width: 50%;
  height: 50%;
  /* flex to center contents*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /* border:1px solid black; */
}

.match-name {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.match-image {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.match-buttons {
  width:100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stargazers {
  width: 30%;
}

.stargazer {
  width: 500px;
  height:90px;
  border: 1px solid black;
}

/* .my-profile{
  width: 400;
  height: auto;
} */